@font-face {
    font-family: 'Merienda';
    src: url('Merienda-Regular.eot');
    src: url('Merienda-Regular.eot?#iefix') format('embedded-opentype'),
        url('Merienda-Regular.woff2') format('woff2'),
        url('Merienda-Regular.woff') format('woff'),
        url('Merienda-Regular.ttf') format('truetype'),
        url('Merienda-Regular.svg#Merienda-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

